@page "/maxjarsky"

<h1>Max Jarský</h1>
<br />
<br />
<h3>Snažme se žít tak, aby naší smrti litoval i majitel pohřební služby.</h3>
<br />
<br />
<h3>
    Autobusák 1: tak když do toho neteče nafta...
    Autobusák 2: no ty píčo... To je imobilní!
</h3>

@code {

}
