@page "/development/placeholder1"

<h1>Placeholder 1</h1>

<h2>Grades</h2>
@if (grades is not null)
{
	foreach (MensaGymnazium.IntranetGen3.Contracts.GradeDto grade in grades)
	{
		<div>@grade.Id : @grade.Name</div>
	}
}
