@page "/development/richard-dobisek"

<h1>Richard Dobíšek</h1>
<HxButton Text="Hello" Tooltip="Are you aware of the fact, that by clicking hello you are saying hello?" Color="ThemeColor.Primary"  OnClick="async () => await Task.Delay(2000)"/>
<p>Cool, já tady mam vlastní develpment pagi, kterou jsem dělal někdy v kvintě, na to jsem úplně zapomněl</p>
