@page "/development/vjaceslav-nikiforov"

<h1>Slávek</h1>
<br/><br/>
<p>Až pro mne přijde smrt, nenaříkejte dýl,
<br/>než pokud budete poslouchat chrapot hran,
<br/>jak ohlašují všem, že jsem již opustil
<br/>ten bídný svět a mám u bídných červů stan.
<br/>Ne, nevzpomínejte při čtení těchto vět
<br/>na toho, kdo je psal, mám vás rád natolik,
<br/>že vám chci z myšlenek radš navždy vymizet,
<br/>než aby vzpomínka na mne vás stála vzlyk.
<br/>A jestli spatříte jedenkrát tato slova,
<br/>to ze mne bude už, možná, jen prach a zem,
<br/>ani mé jméno pak nevyslovujte znova
<br/>a nechte lásku svou skončit s mým životem.
<br/>Aby se moudrý svět nedíval na váš žal
<br/>a pak se vám i mně, mrtvému, nevysmál.</p>
<br/><br/>
<h6>- William Shakespeare</h6>

@code {

}
