<HxGrid @ref="gridComponent" TItem="SigningRuleStudentRegistrationsDto" DataProvider="GetGridData"
    SelectionEnabled="false" ShowFooterWhenEmptyData="false">
    <Columns>
        <HxGridColumn HeaderText="Druh zápisu" TItem="SigningRuleStudentRegistrationsDto">
            <ItemTemplate>
                Přednáška
            </ItemTemplate>
        </HxGridColumn>
        <HxGridColumn HeaderText="Zápis" TItem="SigningRuleStudentRegistrationsDto">
            <ItemTemplate>
                @if (context.MainRegistration is not null)
                {
                    <span class="me-2">Zapsáno @context.MainRegistration.Created</span>
                    <HxButton Text="Zrušit registraci" OnClick="() => HandleCancelRegistrationClicked(context.MainRegistration.Id)" Color="ThemeColor.Primary" Outline="true" Size="ButtonSize.Small" Icon="BootstrapIcon.Trash" />

                }
                else if (context.MainRegistrationAllowed)
                {
                    <HxButton Text="Zapsat se"
                    OnClick="() => HandleCreateRegistrationClicked(context.Id, StudentRegistrationType.Main)"
                    Color="ThemeColor.Primary" Size="ButtonSize.Small" Icon="BootstrapIcon.Basket" />
                }
                else
                {
                    <text>@context.MainRegistrationNotAllowedReason</text>
                }
            </ItemTemplate>
        </HxGridColumn>
    </Columns>
</HxGrid>