<HxGrid @ref="gridComponent"
        TItem="SigningRuleStudentRegistrationsDto"
        DataProvider="GetGridData"
        SelectionEnabled="false"
        ShowFooterWhenEmptyData="false">
    <Columns>
        <HxGridColumn HeaderText="Zapsat se" TItem="SigningRuleStudentRegistrationsDto">
            <ItemTemplate>
                @if (context.MainRegistration is not null)
                {
                    <div class="me-2">Zapsáno @context.MainRegistration.Created</div>
                    <HxButton Text="Zrušit primární zápis" OnClick="() => HandleCancelRegistrationClicked(context.MainRegistration.Id)" Color="ThemeColor.Primary" Outline="true" Size="ButtonSize.Small" Icon="BootstrapIcon.Trash" />

                }
                else if (context.MainRegistrationAllowed)
                {
                    <HxButton Text="Zapsat se" OnClick="() => HandleCreateRegistrationClicked(context.Id, StudentRegistrationType.Main)" Color="ThemeColor.Primary" Size="ButtonSize.Small" Icon="BootstrapIcon.Basket" />
                }
                else
                {
                    <text>@context.MainRegistrationNotAllowedReason</text>
                }
            </ItemTemplate>
        </HxGridColumn>
    </Columns>
</HxGrid>