@if (studentsRegistrationForThisSubject is not null)
{
    // Registered already
    <HxButton 
        Text="Zrušit primární zápis"
        OnClick="HandleCancelRegistrationClicked"
        Color="ThemeColor.Primary"
        Outline="true" 
        Size="ButtonSize.Small" 
        Icon="BootstrapIcon.Trash" />
}
else
{
    // No registration yet, display registration options
    // Xopa: Now only handling primary registrations, maybe secondary in future aswel

    @if (canCreateMainRegistrationResult is not null)
    {
        // Result loaded
        @if (canCreateMainRegistrationResult.IsRegistrationPossible)
        {
            // User can create a main registration
            <HxButton
                Text="Zapsat jako primární"
                OnClick="async () => await HandleCreateRegistrationClicked(StudentRegistrationType.Main)" 
                Color="ThemeColor.Primary"
                Size="ButtonSize.Small"
                Icon="BootstrapIcon.Basket" />
        }
        else
        {
            // Cannot create a main registration
            <p class="text-danger">Nelze zapsat jako primární, důvod: @canCreateMainRegistrationResult.Reason</p>
        }
    }
    else
    {
        // Result not loaded
        <HxSpinner Size='SpinnerSize.Small'/>
        <HxPlaceholderButton
            Text="Zapsat jako primární"
            Color="ThemeColor.Primary"
            Size="ButtonSize.Small"
            Icon="BootstrapIcon.Basket" />
    }
}
