@if (studentsRegistrationForThisSubject is null)
{
    // No registration
    <HxButton 
        Text="Zapsat jako primární"
        OnClick="() => HandleCreateRegistrationClicked(StudentRegistrationType.Main)" 
        Color="ThemeColor.Primary"
        Size="ButtonSize.Small"
        Icon="BootstrapIcon.Basket" />
} else
{
    // Registered already
    <HxButton 
        Text="Zrušit primární zápis"
        OnClick="() => HandleCancelRegistrationClicked()"
        Color="ThemeColor.Primary"
        Outline="true" 
        Size="ButtonSize.Small" 
        Icon="BootstrapIcon.Trash" />
}


@* 

<HxGrid @ref="gridComponent"
        TItem="SigningRuleStudentRegistrationsDto"
        DataProvider="GetGridData"
        SelectionEnabled="false"
        ShowFooterWhenEmptyData="false">
    <Columns>
        <HxGridColumn HeaderText="Zápisové pravidlo" ItemTextSelector="i => i.Name" TItem="SigningRuleStudentRegistrationsDto" />
        <HxGridColumn HeaderText="Primární zápis" TItem="SigningRuleStudentRegistrationsDto">
            <ItemTemplate>
                @if (context.MainRegistration is not null)
                {
                    <div class="me-2">Zapsáno @context.MainRegistration.Created</div>
                    <HxButton Text="Zrušit primární zápis" OnClick="() => HandleCancelRegistrationClicked(context.MainRegistration.Id)" Color="ThemeColor.Primary" Outline="true" Size="ButtonSize.Small" Icon="BootstrapIcon.Trash" />

                }
                else if (context.MainRegistrationAllowed)
                {
                    <HxButton Text="Zapsat jako primární" OnClick="() => HandleCreateRegistrationClicked(context.Id, StudentRegistrationType.Main)" Color="ThemeColor.Primary" Size="ButtonSize.Small" Icon="BootstrapIcon.Basket" />
                }
                else
                {
                    <text>@context.MainRegistrationNotAllowedReason</text>
                }
            </ItemTemplate>
        </HxGridColumn>
        <HxGridColumn HeaderText="Náhradní zápis" TItem="SigningRuleStudentRegistrationsDto">
            <ItemTemplate>
                @if (context.SecondaryRegistration is not null)
                {
                    <div class="me-2">Zapsáno @context.SecondaryRegistration.Created</div>
                    <HxButton Text="Zrušit náhradní zápis" OnClick="() => HandleCancelRegistrationClicked(context.SecondaryRegistration.Id)" Color="ThemeColor.Secondary" Outline="true" Size="ButtonSize.Small" Icon="BootstrapIcon.Trash" />
                }
                else if (context.SecondaryRegistrationAllowed)
                {
                    <HxButton Text="Zapsat jako náhradní" OnClick="() => HandleCreateRegistrationClicked(context.Id, StudentRegistrationType.Secondary)" Color="ThemeColor.Secondary" Size="ButtonSize.Small" Icon="BootstrapIcon.Basket" />
                }
                else
                {
                    <text>@context.SecondaryRegistrationNotAllowedReason</text>
                }
            </ItemTemplate>
        </HxGridColumn>
    </Columns>
    <EmptyDataTemplate>
        Tento předmět neodpovídá žádnému vašemu zápisovému pravidlu.
    </EmptyDataTemplate>
</HxGrid> *@