@attribute [Route(Routes.Electives.SubjectDetail)]

@if (subject is not null)
{
    <h1>@subject.Name</h1>
    <HxCard>
        <HeaderTemplate>Základní údaje</HeaderTemplate>
        <BodyTemplate>
            <HxCardText>
                <TextValue Label="Popis" Value="@subject.Description" />
                <TextValue Label="Učitel(é)" Value="@GetTeachers(subject.TeacherIds)" />


            </HxCardText>
        </BodyTemplate>
        <FooterTemplate>
            <HxButton Color="ThemeColor.Secondary" OnClick="HandleEditClick">Editovat definici předmětu</HxButton>
        </FooterTemplate>
    </HxCard>
    
    <SubjectEdit @ref="subjectEditComponent" SubjectId="@SubjectId" />
}
else
{
    <HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
        <h1><HxPlaceholder Columns="4" /></h1>

        <HxPlaceholderButton Color="ThemeColor.Secondary" />
    </HxPlaceholderContainer>
}
