@page "/"
@namespace MensaGymnazium.IntranetGen3.Web.Server.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<app>
    <div class="d-flex align-items-center justify-content-center flex-grow-1 min-vh-100">
        <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Načítání...</span>
        </div>
    </div>
</app>