@attribute [Route(Routes.Administration.Index)]
@attribute [Authorize(Roles = nameof(Role.Administrator))]

<h5>Administrace systému</h5>
<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-6 g-3 mb-4">
	<div class="col">
		<NavPanel Title="Server" Icon="BootstrapIcon.HddNetwork">
			<NavCard OnClick="dataSeedsComponent.ShowAsync" Title="Seedování dat" />
			<NavCard OnClick="HandleClearCacheClick" Title="Vyčistit cache serveru" />
		</NavPanel>
	</div>
	<div class="col">
		<NavPanel Title="Diagnostika" Icon="BootstrapIcon.Hammer">
			<NavCard Href="@Routes.Diagnostics.Info" Title="Info stránka" />
			<NavCard OnClick="SimulateException" Title="Vyvolat výjimku" />
		</NavPanel>
	</div>
</div>

<MensaGymnazium.IntranetGen3.Web.Client.Pages.Admin.Components.DataSeeds @ref="dataSeedsComponent" />