@attribute [Route(Routes.Home)]
@using MensaGymnazium.IntranetGen3.Web.Client.Pages.Electives

<h5>Vítejte v registračním portále pro <b>Mensa fórum 2024</b>!</h5>
<br><br>
<p>
    Registrace pro přednášky budou otevřeny 7. 3. 2024 v 19:00 a uzavřeny 12. 3. 2024.
</p>

<br>
<hr>
<br>

<p>
    Tento web vznikl vznikl v rámci <i>Semináře z programování</i> jako klon rozpracovaného intranetu upravený pro
        potřeby přihlašování na Mensa fórum. Pro rok 2023 byl vytvořen klon podoby 2022.
</p>

<p>
    Intranet je aktuálně v <b>testovacím provozu</b>, takže budeme rádi, pokud nám nahásíte případné chyby a připomínky
    skrz <a href="https://github.com/mensagymnazium/IntranetGen3/issues">formulář v našem GitHubovém repozitáři</a>. V
    něm naleznete i <a href="https://github.com/mensagymnazium/IntranetGen3">rozpracovaný zdrojový kód Intranetu</a>.
</p>
