@attribute [Route(Routes.Home)]
@using MensaGymnazium.IntranetGen3.Web.Client.Pages.Electives

<h5>Vítejte v novém intranetu!</h5>
<p>
    Intranet vzniká v rámci <i>Semináře z programování</i> a pro jeho první <b>testovací</b> použití bylo vybráno přihlašování na Mensaforum.
    Tento intranet bude využíván k přihlašování volitelných předmětů v následujících letech; další funkční oblasti se zvažují, náměty vítány.<br/>
    Zdrojové kódy najdete na <a href="https://github.com/mensagymnazium/IntranetGen3">GitHubu</a>,
    kam můžete <a href="https://github.com/mensagymnazium/IntranetGen3/issues">zapsat i případné náměty či zjištěné chyby</a>.
</p>
