@attribute [Route(Routes.Home)]
@using MensaGymnazium.IntranetGen3.Web.Client.Pages.Electives

<h5>Vítejte v novém intranetu!</h5>
<p>
    Intranet vzniká v rámci <i>Semináře z programování</i> a jeho první funkčností je přihlašování na volitelné semináře.
    Další funkční oblasti se zvažují, náměty vítány.<br/>
    Zdrojové kódy najdete na <a href="https://github.com/mensagymnazium/IntranetGen3">GitHub</a>,
    kam můžete <a href="https://github.com/mensagymnazium/IntranetGen3/issues">zapsat i případné náměty či zjištěné chyby</a>.
</p>

<AuthorizeView Policy='@nameof(ClientAuthorizationPolicyNames.StudentBeforeOktava)'>
	<HomeIndexMyElectives />
</AuthorizeView>