.wrapper {
    padding: .75rem .25rem;
    font-size: .875rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-between;
}

.wrapper:last-child {
    padding-bottom: 0;
}

.wrapper + .wrapper {
    border-top: 1px solid var(--bs-gray-200);
}

.wrapper.inline {

}

.label {
    color: var(--bs-gray-600);
}