<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					@if (!context.User.Identity.IsAuthenticated)
					{
						<RedirectToLogin />
					}
					else
					{
						<p>
							You are not authorized to access this resource.
						</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<MensaGymnazium.IntranetGen3.Web.Client.Shared.NotFoundPage.NotFoundPage />
		</NotFound>
	</Router>
</CascadingAuthenticationState>

<BlazorApplicationInsights.ApplicationInsightsComponent />