@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<div class="login-display d-flex align-items-center w-100 p-3">
	<AuthorizeView>
		<Authorized>

			<div class="initials rounded-circle text-primary p-1">@NameToInitials(@context.User?.Identity?.Name)</div>
			<a class="login-display-nickname mx-3">@context?.User?.Identity?.Name</a>
			<div class="ms-auto">
				<HxContextMenu>
					<HxContextMenuItem Text="Odhlásit" OnClick="BeginSignOut" />
				</HxContextMenu>
			</div>

		</Authorized>
		<NotAuthorized>
			<span><a href="authentication/register">Registrace</a> or <a href="authentication/login">Přihlášení</a></span>
		</NotAuthorized>
	</AuthorizeView>
</div>

@code{
	private async Task BeginSignOut()
	{
		await SignOutManager.SetSignOutState();
		Navigation.NavigateTo("authentication/logout");
	}

	/// <summary>
	/// Takes an email or name of the user and returns the user's initials.
	/// </summary>
	/// <returns>The initials of first and last name.</returns>
	private string NameToInitials(string name)
	{
	    if (name is null) return "?";
		if (name.Contains('@'))
		{
			var mail = name.Split('@')[0].Split('.');
			if (mail.Length == 1) return mail[0][0].ToString().ToUpper();
			return (mail[0][0].ToString() + mail[^1][0].ToString()).ToUpper();

		}
		var names = name.Split(' ');
		if (names.Length == 1) return names[0][0].ToString().ToUpper();
		return (names[0][0].ToString() + names[^1][0].ToString()).ToUpper();
	}
}
